@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
}

h1 {
    color: azure;
    font-size: 30px;
    text-align: center;
}

* {
    color: green;

}

#text {
    padding: 20px;
    font-size: 20px;

    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width:340px) {
    #text {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

}